* {
    margin: 0;
}

.filtre {

    width: 20vw;
}

.products {
    width: 70% !important;
    height: 100% !important;
}

.product-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 22vw !important;
    height: 20vh !important;
}

.product-grid .product-image {
    overflow: hidden;
    position: relative;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
}



.product-grid .product-content {
    padding: 15px;
}

.product-grid .price {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 10px;
}

.product-grid .price span {
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0 0 0 5px;
    text-decoration: line-through;
}

.product-grid .title {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.product-grid .title a {
    color: #333;
    transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
    color: #341f97;
    text-decoration: none;
}

.product-grid .rating {
    color: #fbb230;
    font-size: 13px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-grid .rating li.far {
    color: #999;
}

@media screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}