* {
    margin: 0;
}

html,
body {
    height: 100% !important;
}

.scroll {
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 0 !important;
}




.btn-dark {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.filtres {
    height: 80vh !important;
    padding-left: 2%;
    width: 20% !important;

}


.products {
    width: 70vw !important;
    height: 100% !important;
    margin-right: -3%;
}



.product-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 32% !important;
    height: 15% !important;
    display: block;

}


.product-grid .product-image {
    overflow: hidden;
    position: relative;
    display: block;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
    display: block;
}



.product-grid .product-content {
    padding: 15px;
    display: block;

}

.product-grid .price {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 10px;
}

.product-grid .price span {
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0 0 0 5px;
    text-decoration: line-through;
}

.product-grid .title {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.product-grid .title a {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
    color: #971f1f;
    text-decoration: none;
}

.product-grid .rating {
    color: #fbb230;
    font-size: 13px;
    padding: 0;
    margin: 0;
    list-style: none;
}

#search-autocomplete {
    width: 80%;
}


@media screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}

.btn-outline-dark {
    border-radius: 0;
    box-shadow: none !important;
}


.btn-outline-dark:hover {
    background-color: black !important;
}

.btn-dark {
    background-color: black !important;
    color: white;
}

.btn-dark:hover {
    background-color: gray !important;
}