<div class="m-3 c">
    <div class="product-grid">
        <div class="product-image">
            <a [routerLink]="['/produit/',produit.id]" class="image">
                <img class="pic-1" [src]="produit.photo[0]">
                <img *ngIf="produit.photo.length>1" class="pic-2" [src]="produit.photo[1]">
            </a>
            <a (click)="z=this.serviceproduit.favorite(produit.id)" class="product-like-icon" data-tip="Favorite">
                <i [ngClass]="{'fa-solid fa-heart':z,'fa-regular fa-heart':true}"></i>
            </a>
            <ul class="product-links">
                <li><a [routerLink]="['/produit/',produit.id]"><i class="fa fa-eye"></i></a></li>
                <li *ngIf="produit.enStock"><a *ngIf="serviceproduit.message "
                        (click)="serviceproduit.addProductTocart(produit.id)"><i class="fas fa-shopping-cart"></i></a>
                    <a *ngIf="!serviceproduit.message " [routerLink]="['signin']"><i
                            class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
        <div class="product-content">
            <h3 class="title"><a href="#">{{produit.name}}</a></h3>
            <div class="price">{{produit.price | prix }}
            </div>
        </div>
    </div>
</div>