.btn {
    font-weight: bold;
    border-radius: 25px;
}

#mainNav {
    border-bottom: 1px solid rgba(45, 45, 45, .1);
    background-color: #fff;
    transition: all .2s;
}

mat-slider {
    width: 500px;
}